.login-left-img {
    height: calc(100vh - 50px);
    object-fit: cover;
}

.login-form input, input:-internal-autofill-selected {
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0;
    outline: none;
    background-color: white;
}

.login-form .form-control {
    font-size: 14px;
}

.login-form {
    width: 300px;
}

.login-form h3 {
    margin-bottom: 80px;
}

.btn.focus, .btn:focus, .custom-control-input:focus~.custom-control-label::before, .form-control:focus {
    box-shadow: none;
}

@media screen and (max-width: 480px) {
    .login-left-img {
        max-height: 350px;
    }

    .login-right {
        background: white;
        padding-top: 25px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: relative;
        top: -50px;
    }

    .login-form h3 {
        margin-bottom: 30px;
        font-size: 24px;
    }
}