<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us - Epicred</title>
    <meta name="description" content="epicred: Your Gateway to Global Education. Embark on your international academic journey with confidence, as we offer specialized student loans tailored for studying abroad. Explore our brand's commitment to turning your educational dreams into global realities.">
    {% include "public/user/html/partials/styles.html" %}
    <link href="/user/css/about-us.css" rel="stylesheet">
</head>

<body>

    {% include "public/user/html/partials/header.html" %}
    <main class="container">

        <div class="row section">
            <div class="col-12 mb-4">
                <h2 class="mb-3">About Us</h2>
                <p>
                    We aim to make student loans quick and hassle free for Indians many students especially in tier 2 and tier 3 cities are unaware of the fact that they can get an education loan without collateral and they need not visit any bank for that, We at Epicred not only make the entire process easy but also negotiate the best deal for students from the lender without charging them anything , We want to make sure that no student should give up hope on getting quality education due to financial limitation.
                </p>
            </div>
            <div class="col-12 mb-4">
                <h2 class="mb-3">Our Story</h2>
                <p>
                    Founded in 2022, our first office was a park in sector 34, where we did tele calling to Immigration consultants for potential clients and later on visited consultants across states to build our network. We have been profitable from the beginning having disbursed loans over 8 crores in our first four months.
                </p>
            </div>
            <div class="col-12">
                <h2 class="mb-3">Plan for 2023</h2>
                <p>
                    2023 is going to be a breakthrough year for us, we are going to create an online marketplace and increase our social media presence. We are targeting disbursals over 60 crore rupees in 2023.To achieve our target we are increasing our lending partners and intend to focus on students planning their studies in the United States.
                </p>
            </div>
        </div>
        
        <section class="row reasons-section section">
            <div class="col-12 mb-4">
                <h2 class="text-center mb-3">The Epicred Advantage</h2>
                <p class="text-center section-caption">We aim to make student loans quick and hassle free for Indians</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="reasons-card p-4 card border">
                    <img src="/images/fast.png" alt="Zero Charges" class="reasons-img">
                    <h3 class="reasons-card-title text-center">
                        Time Saving
                    </h3>
                    <p class="mb-1 mt-2">
                        Our experts evaluate the student's profile and apply
                        only to banks from where the loan could be sanctioned, thus saving time and effort
                    </p>
                </div>


            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="reasons-card p-4 card border">
                    <img src="/images/documents.png" alt="Fast Sanctions" class="reasons-img">
                    <h3 class="reasons-card-title text-center">
                        Documents Pickup
                    </h3>
                    <p class="mb-1 mt-2">
                        We offer doorstep pickup of documents.
                        Students are not required to make any branch visits.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="reasons-card p-4 card border">
                    <img src="/images/disburse.png" alt="Quick Disbursals" class="reasons-img">
                    <h3 class="reasons-card-title text-center">
                        Disbursement gurantee
                    </h3>
                    <p class="mb-1 mt-2">
                        We thoroughly check and assess your documents before login, if the file is logged in we provide disbursement.
                    </p>
                </div>
            </div>
        </section>

        <section class="row section">
            <div class="col-12">
                <h2 class="mb-3">How the Epicred generates business?</h2>
                <p>
                    We have a network of agents and Immigration consultants who provide us with leads, however the major chunk of our leads is directly sourced by us through our extensive grassroot offline marketing and word to mouth publicity. We have achieved significant sales without any online presence.
                </p>
            </div>
        </section>

        <section class="section-lending row section">
            <div class="col-12 mb-4">
                <h2 class="text-center mb-3">Our Lending Partners</h2>
                <p class="text-center section-caption">We aim to remove financial limitations of students planning to study abroad</p>
            </div>
            <div class="col-12 ">
                {% include "public/user/html/partials/lending-partners.html" %}
            </div>
        </section>


    </main>

    {% include "public/user/html/partials/footer_v1.html" %}
    {% include "public/user/html/partials/scripts.html" %}
</body>

</html>