<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Epicred - Dashboard</title>

    {% include "public/user/html/partials/styles.html" %}
    <link href="/common/css/style.css" rel="stylesheet">
    <link href="/user/css/application-card.css" rel="stylesheet">
</head>

<body>

    {% include "public/admin/html/partials/preloader.html" %}
    {% import "public/user/html/partials/macros.html" as components %}
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute"
        data-boxed-layout="full">
        {% include "public/user/html/partials/topbar.html" %} 
        {% include "public/user/html/partials/sidebar.html" %}

        <div class="page-wrapper admin-wrapper">

            <main class="container-fluid overflow-scroll">
                <div class="row mt-3">
                    {% for item in data.applications %}
                    {{ components.applicationCard(item) }}
                    {% endfor %}
                </div>

                <div class="modal loan-status-progress-modal" tabindex="-1" role="dialog" id="loanStatusProgressModal">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header flex-column">
                                <h5 class="modal-title">Loan Status Progress</h5>
                                <div>
                                    <span class="loan-status-progress-icon mr-1">
                                        <i class="fa fa-check-circle text-warning"></i> - Pending
                                    </span>
                                    <span class="loan-status-progress-icon mr-1">
                                        <i class="fa fa-spinner text-warning"></i> - In Progress
                                    </span>
                                    <span class="loan-status-progress-icon mr-1">
                                        <i class="fa fa-check-circle text-success"></i> - Complete
                                    </span>
                                </div>
                            </div>
                            <div class="modal-body" id="loanStatusProgressModalBody">
                                <p>Modal body text goes here.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-sm btn-primary px-4 font-bold" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    {% include "public/user/html/partials/scripts.html" %}
    <script src="/common/js/sidebarmenu.js"></script>
    <script src="/common/js/nunjucks.js"></script>
    <script src="/user/js/dashboard.js"></script>
</body>

</html>