<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Domestic Education Loans</title>
    <meta name="description"
        content="Optimize your student debt with Education Loan Refinance! Discover the benefits of refinancing your educational loans. Lower your interest rates, simplify payments, and improve your financial future. Explore our refinancing options and check eligibility today. Take control of your student loans and achieve your financial goals with ease!">

    {% include "public/user/html/partials/styles.html" %}
    <link href="/user/css/services.css" rel="stylesheet">
    <link href="/user/css/loan-eligibility.css" rel="stylesheet">
</head>

<body>

    {% include "public/user/html/partials/header.html" %}

    <main>
        <div class="container-fluid service-banner">
            <div class="row">
                <div class="col-12 p-0">
                    <img src="/images/domestic-education-loans.png" alt="graduation loan" class="w-100 service-banner">
                </div>
            </div>
        </div>
        <div class="service">
            <div class="container">
                <div class="service-content row">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 service-left">
                        <h3 class="service-title">Domestic Education Loans</h3>

                        <p>
                            Education loans for Indian students are commonly offered by various banks and financial institutions to help them pursue higher education in India or
                            abroad. These loans can cover tuition fees, accommodation expenses, study materials, and other related costs. Here's some information about domestic
                            education loans for Indians:
                        </p>

                        <ul class="service-list">
                            <li><b>Eligibility Criteria:</b> Indian citizenship. Admission to a recognized educational institution in India or abroad. Typically, lenders require a
                                co-borrower, usually a parent or guardian, with a steady source of income to guarantee the loan.</li>
                            <li><b>Loan Amount:</b> The loan amount can vary depending on the course, institute, and other factors. Most banks offer loans of up to INR 20-30 lakhs
                                for studies in India and up to INR 50 lakhs or more for studies abroad.</li>
                            <li><b>Interest Rates:</b> Interest rates on education loans can be fixed or floating. Rates may vary from one lender to another and can depend on
                                factors like the loan amount, duration, and the co-borrower's creditworthiness. Some banks offer lower interest rates for female students or certain
                                preferred institutions</li>
                            <li><b>Repayment:</b> Repayment typically begins after the completion of the course, and there is usually a moratorium period of 6 months to a year
                                after getting a job or 12 months after course completion, whichever is earlier. Loan repayment periods can range from 5 to 15 years, depending on
                                the lender and the loan amount.</li>
                            <li><b>Security:</b>Collateral is often required for loans above a certain amount. This can be in the form of a property, fixed deposit, or other
                                assets. Loans up to a certain limit (usually around INR 7.5 lakhs) may be available without collateral under the Credit Guarantee Fund Scheme for
                                Education Loans (CGFSEL).</li>
                            <li><b>Documentation:</b> You will need to provide documents like admission letter, fee structure, KYC documents, income proof of co-borrower, and
                                collateral documents (if applicable).</li>
                            <li><b>Loan Approval:</b> The loan approval process may take some time, so it's advisable to apply well in advance of your course start date.</li>
                            <li><b>Loan Providers:</b> Several public and private sector banks, as well as non-banking financial companies (NBFCs), offer education loans. Some
                                well-known lenders include SBI, HDFC Bank, ICICI Bank, and Axis Bank.</li>
                            <li><b>Subsidy and Interest Benefits:</b> The Indian government offers interest subsidies to certain eligible students. These subsidies can reduce the
                                effective interest rate on the loan. It's important to research various loan options, compare interest rates, and carefully read the terms and
                                conditions before applying for an education loan. Additionally, make sure to check for any government schemes or scholarships that might be
                                available to you to ease the financial burden of education.</li>
                        </ul>

                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 service-right">
                        {% include "public/user/html/partials/loan-eligibility.html" %}
                    </div>
                </div>

            </div>
            {% include "public/user/html/partials/service-footer.html" %}
        </div>
    </main>

    {% include "public/user/html/partials/footer_v1.html" %}
    {% include "public/user/html/partials/scripts.html" %}
    <script src="/user/js/loan-eligibility.js"></script>
</body>

</html>