<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Change Password - Epicred</title>

        {% include "public/user/html/partials/styles.html" %}
    </head>

    <body>
        {% include "public/user/html/partials/header.html" %}
        <main class="container d-flex align-items-center justify-content-center">
            <form id="form" onsubmit="return false;" class="col-xl-4 col-lg-4 col-md-6 col-12 mt-4">
                <div class="change-password">
                    <h4 class="text-grey font-bold">Change your password</h4>
                    <input type="hidden" name="token" value="{{token}}" />
                    <div class="card primary-shadow p-4">
                        <div class="form-group">
                            <label for="email">Password*</label>
                            <input
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="********"
                            />
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password*</label>
                            <input
                                type="password"
                                class="form-control"
                                id="confirmPassword"
                                name="confirmPassword"
                                placeholder="********"
                            />
                        </div>
                        <button class="btn btn-primary btn-gradient font-bold">Submit</button>
                    </div>
                </div>
            </form>
        </main>

        {% include "public/user/html/partials/footer_v1.html" %} {% include
        "public/user/html/partials/scripts.html" %}
        <script src="/user/js/forgot-password.js"></script>
    </body>
</html>
