<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Privacy Policy - Epicred</title>

    {% include "public/user/html/partials/styles.html" %}
    <link href="/user/css/policies.css" rel="stylesheet">
</head>

<body>

    {% include "public/user/html/partials/header.html" %}
    <main class="container mb-4">
        <h1 class="text-center title">Privacy Policy</h1>
        <div class="col-12 mb-4">
            <h2 class="mb-3 sub-title">Effective from: 22-06-2023</h2>
            <p>
                This Privacy Policy outlines the types of information collected from users of our website and how that information is used, stored, and protected. By using our
                website, you agree to the collection and use of your information as described in this Privacy Policy. Please read this policy carefully to understand our practices
                regarding your personal information.
            </p>
        </div>
        <div class="col-12 mb-4">
            <h2 class="mb-3 sub-title">1. Information We Collect:</h2>
            <p>
                a. Personal Information: We may collect personal information such as your name, contact information (including email address, phone number, and mailing address),
                and other information you provide when you voluntarily submit it through our website.
            </p>
            <p>
                b. Log Data: Our servers automatically record certain information ("Log Data") when you access or use our website. This Log Data may include your IP address,
                browser type, referring/exit pages, the pages you visit on our website, the time spent on those pages, and other statistics.
            </p>
            <p>
                c. Cookies and Similar Technologies: We may use cookies and similar technologies to collect information about your browsing activities on our website. Cookies are
                small text files stored on your device that allow us to recognize your browser and remember certain information. You can manage your cookie preferences through your
                browser settings.
            </p>
        </div>
        <div class="col-12 mb-4">
            <h2 class="mb-3 sub-title">2. Use of Information:</h2>
            <p>
                a. We may use the information we collect for various purposes, including:
                To provide and maintain our website, and to improve its functionality and user experience.
                To respond to inquiries or requests you submit through our website.
                To send you information, updates, or promotional materials related to our services, unless you opt out of receiving such communications.
                To analyze and monitor website usage and trends.
                To protect our rights, property, or safety, and that of our users and the general public.
                To comply with legal obligations or enforce our website policies.
            </p>
            <p>
                b. We will not use your personal information for purposes other than those described in this Privacy Policy without obtaining your consent.
            </p>
        </div>
        <div class="col-12 mb-4">
            <h2 class="mb-3 sub-title">3. Information Sharing and Disclosure:</h2>
            <p>
                a. We may share your personal information with third-party service providers or business partners who assist us in operating our website, conducting our business,
                or servicing you. These third parties are obligated to protect your information and may only use it for the purposes we specify.
            </p>
            <p>
                b. We may also disclose your personal information: In response to a valid legal request, such as a subpoena or court order. When we believe in good faith that
                disclosure is necessary to protect our rights, enforce our website policies, or investigate potential violations. In connection with a merger, acquisition, or sale
                of all or a portion of our business, where your personal information may be transferred as part of the transaction.
            </p>
        </div>
        <div class="col-12 mb-4">
            <h2 class="mb-3 sub-title">4. Data Security:</h2>
            <p>
                a. We employ reasonable security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, please be
                aware that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security of your information.
            </p>
            <p>
                b. You are responsible for maintaining the confidentiality of any login credentials or account information associated with our website.
            </p>
        </div>
        <div class="col-12 mb-4">
            <h2 class="mb-3 sub-title">5. Third-Party Links:</h2>
            <p>
                Our website may contain links to third-party websites or services. We are not responsible for the privacy practices or the content of those third-party websites. We
                encourage you to review the privacy policies of those websites before providing any personal information.
            </p>
        </div>
        <div class="col-12 mb-4">
            <h2 class="mb-3 sub-title">6. Children's Privacy:</h2>
            <p>
                Our website is not directed to individuals under the age of 13, and we do not knowingly collect personal information from children. If you are under the age of 13,
                please do not provide any personal information through our website. </p>
        </div>
        <div class="col-12 mb-4">
            <h2 class="mb-3 sub-title">7. Changes to this Privacy Policy:</h2>
            <p>
                We reserve the right to update or modify this Privacy Policy at any time without prior notice. Any changes will be effective immediately upon posting of the revised
                Privacy Policy on our website. We encourage you to review this Privacy Policy periodically for any updates or changes.
            </p>
        </div>
        <div class="col-12 mb-4">
            <h2 class="mb-3 sub-title">8. Contact Us:</h2>
            <p>
                If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at <a href="mailto:{{_contact.email}}" class="font-bold">{{_contact.email}}</a>. By using our website, you
                signify your acceptance of this Privacy Policy. If you do not agree to this policy, please do not use our website.
            </p>
        </div>

    </main>

    {% include "public/user/html/partials/footer_v1.html" %}
    {% include "public/user/html/partials/scripts.html" %}
</body>

</html>