<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>

    {% include "public/user/html/partials/styles.html" %}
    <link href="/user/css/index.css" rel="stylesheet">
</head>

<body>

    {% include "public/admin/html/partials/preloader.html" %}

    {% include "public/user/html/partials/header.html" %}
    <main class="container">
    </main>

    {% include "public/user/html/partials/footer_v1.html" %}
    {% include "public/user/html/partials/scripts.html" %}
</body>

</html>