<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terms of Service - Epicred</title>
    <meta name="description" content="Discover our platform's terms of service designed to outline guidelines, usage policies, and legal responsibilities. Explore the terms governing your interaction with our services to ensure a secure and compliant experience.">
    {% include "public/user/html/partials/styles.html" %}
    <link href="/user/css/policies.css" rel="stylesheet">
</head>

<body>

    {% include "public/user/html/partials/header.html" %}
    <main class="container mb-4">
        <h1 class="text-center title">Terms of Service</h1>
        <p>
            Please read the following terms and conditions carefully before using our education loan website. These terms of use govern your access to and use of the website. By
            accessing or using the website, you agree to be bound by these terms of use. If you do not agree with any part of these terms, you may not use our website.
        </p>
        <ol>
            <li>
                <p><b>Acceptance of Terms:</b> By accessing and using our education loan website, you acknowledge that you have read, understood, and agreed to be bound by these terms
                    of use, as well as our Privacy Policy and any additional guidelines, terms, or rules posted on the website. These terms may be updated or modified by us from
                    time to time without notice. It is your responsibility to review these terms periodically for any changes.</p>
            </li>
            <li>
                <p>
                    <b>Eligibility:</b> You must be at least 18 years old to use our education loan website. By using the website, you represent and warrant that you are 18 years of age
                    or older.
                </p>
            </li>
            <li>
                <p><b>Loan Information:</b> Our education loan website provides information about education loans, including eligibility criteria, interest rates, repayment terms, and
                    application processes. The information provided on the website is for general informational purposes only and should not be considered financial or legal
                    advice. We do not guarantee the accuracy, completeness, or reliability of the information on the website. You should consult with a financial advisor or lender
                    for personalized advice regarding your specific situation.</p>
            </li>
            <li>
                <p>
                    <b>User Responsibilities:</b> When using our education loan website, you agree to:
                </p>
                <p>
                    a. Provide accurate, current, and complete information during the loan application process.
                </p>
                <p>
                    b. Maintain the confidentiality of any login credentials or account information associated with the website.
                </p>
                <p>
                    c. Use the website for lawful purposes only and comply with all applicable laws and regulations.
                </p>
                <p>
                    d. Not engage in any activity that may disrupt or interfere with the functioning of the website or the servers and networks connected to it.
                </p>
                <p>
                    e. Not attempt to gain unauthorized access to any portion of the website, other user accounts, or any other systems or networks connected to the website.
                </p>
            </li>
            <li>
                <p>
                    <b>Intellectual Property:</b> All content on our education loan website, including text, graphics, logos, images, and software, is the property of the website owner or its licensors and is protected by copyright and other intellectual property laws. You may not reproduce, modify, distribute, or display any content from the website without prior written permission from the website owner.
                </p>
            </li>
            <li>
                <p>
                    <b>Links to Third-Party Websites:</b> Our education loan website may contain links to third-party websites or resources. These links are provided for your convenience only and do not imply any endorsement or responsibility for the content, products, or services offered by these third parties. You acknowledge and agree that we are not responsible for the availability, accuracy, or legality of any content on third-party websites.
                </p>
            </li>
            <li>
                <p>
                    <b>Limitation of Liability:</b> To the maximum extent permitted by law, we shall not be liable for any direct, indirect, incidental, consequential, or special damages arising out of or in connection with your use of our education loan website, even if we have been advised of the possibility of such damages. This limitation of liability applies to all claims, whether based on warranty, contract, tort, or any other legal theory.
                </p>
            </li>
            <li>
                <p>
                    <b>Indemnification:</b> You agree to indemnify and hold us harmless from any claims, damages, liabilities, and expenses (including reasonable attorneys' fees) arising out of or in connection with your use of our education loan website, your violation of these terms of use, or your violation of any rights of another party.
                </p>
            </li>
            <li>
                <p>
                    <b>Termination:</b> We reserve the right to terminate or suspend your access to our education loan website at any time, without prior notice or liability, for any reason, including, without limitation, if you breach these terms of use.
                </p>
            </li>
            <li>
                <p><b>Governing Law and Jurisdiction:</b> These terms of use shall be governed by and construed in accordance with the laws of India. Any legal action or proceeding arising out of or relating to these terms shall be exclusively brought in the courts of India.</p>
            </li>
            <li>
                <p><b>Entire Agreement:</b> These terms of use constitute the entire agreement between you and us regarding your use of our education loan website, superseding any prior agreements or understandings.</p>
            </li>
        </ol>
        <p>
            If you have any questions or concerns about these terms of use, please contact us at <a href="mailto:{{_contact.email}}" class="font-bold">{{_contact.email}}</a>.
        </p>
    </main>

    {% include "public/user/html/partials/footer_v1.html" %}
    {% include "public/user/html/partials/scripts.html" %}
</body>

</html>