<script src="/common/js/jquery.min.js"></script>
<script src="/common/js/popper.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/common/js/bootstrap.bundle.js"></script>
<script src="/common/js/app-style-switcher.js"></script>
<!--Wave Effects -->
<script src="/common/js/waves.js"></script>
<script src="/common/js/datatables.js"></script>
<script src="/common/js/datatables-bootstrap.js"></script>
<script src="/common/js/sweetalert.js"></script>
<script src="/common/js/jquery.validate.js"></script>
<script src="/common/js/tagsinput.js"></script>
<script src="/common/js/bootstrap-multiselect.js"></script>
<script src="/common/js/moment.js"></script>
<script src="/common/js/daterangepicker.js"></script>
<!--Menu sidebar -->
<script src="/common/js/sidebarmenu.js"></script>
<script src="/common/js/nunjucks.js"></script>
<!-- JavaScript Bundle with Popper -->

<!--This page JavaScript -->
<script src="/common/js/custom.js"></script>
