
<footer id="colophon" class="border-top footer">
	<div class="container py-4">
		<div class="row">
			<div class="col-xl-3 col-lg-3 col-md-4 col-12 footer-col">
                <img src="/images/epicred-logo.png" alt="Epicred">
			</div>
			<div class="col-xl-3 col-lg-3 col-md-4 col-12 footer-col">
				<h6 class="footer-links-head">LINKS</h6>
				<ul class="footer-links">
					<li><a href="/" class="text-decoration-none">Home</a></li>
					<li><a href="https://blog.epicred.in">Blog</a></li>
					<li><a href="/about-us" class="text-decoration-none">About</a></li>
					<li><a href="/contact-us" class="text-decoration-none">Contact</a></li>
					<li><a href="/repayment-calculator" class="text-decoration-none">EMI Calculator</a></li>
				</ul>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-4 col-12 footer-col">
				<h6 class="footer-links-head">OTHERS</h6>
				<ul class="footer-links">
					<li><a href="/privacy-policy" class="text-decoration-none">Privacy Policy</a></li>
					<li><a href="/terms-of-service" class="text-decoration-none"> Terms of Use</a></li>
				</ul>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-4 col-12 footer-col">
				<div class="d-flex">
					<span class="footer-social-icon-wrapper d-none">
						<a href="#" class="text-decoration-none">
							<img class="footer-social-icon" src="/images/facebook.png" alt="facebook">
						</a>
					</span>
					<span class="footer-social-icon-wrapper d-none">
						<a href="#" class="text-decoration-none">
							<img class="footer-social-icon" src="/images/twitter.png" alt="twitter">
						</a>
					</span>
					<span class="footer-social-icon-wrapper">
						<a href="{{_contact.instagram}}" class="text-deocoration-none">
							<img class="footer-social-icon" src="/images/instagram.png" alt="instagram">
						</a>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="whatsapp-btn">
				<a class="whatsapp-btn-link" href="https://api.whatsapp.com/send/?phone=919877889609&type=phone_number">
				<span class="whatsapp-btn-badge-text">Chat with us</span>
				<img class="whatsapp-btn-icon" src="/images/whatsapp.png" />
      			</a>
			</div>
		</div>
	</div>
</footer>
</div>