<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-3 col-6 d-flex justify-content-center align-items-center">
        <a class="lending-partner" href="/lending-partner/hdfc-credelia" title="hdfc credelia">
            <img src="./images/h_hdfc.png" alt="Hdfc Credelia" class="lending-partner-img" loading="lazy"/>
        </a>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-6">
        <a class="lending-partner" href="/lending-partner/auxilo" title="auxilo">
            <img src="./images/h_auxillo.png" alt="Auxilo" class="lending-partner-img" loading="lazy"/>
        </a>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-6">
        <a class="lending-partner" href="/lending-partner/avanse" title="avanse">
            <img src="./images/h_avanse.png" alt="Avanse" class="lending-partner-img" loading="lazy"/>
        </a>
    </div>
    <!-- <div class="col-xl-2 col-lg-2 col-md-3 col-6">
        <a class="lending-partner" href="/lending-partner/bank-of-baroda" title="bank of baroda">
            <img src="./images/h_bob.png" alt="bank of baroda" class="lending-partner-img" loading="lazy"/>
        </a>
    </div> -->
    <div class="col-xl-2 col-lg-2 col-md-3 col-6">
        <div class="lending-partner">
            <img src="./images/h_incred.png" alt="Incred" class="lending-partner-img" loading="lazy"/>
        </div>
    </div>
    <!-- <div class="col-xl-2 col-lg-2 col-md-3 col-6">
        <a class="lending-partner" href="/lending-partner/idfc-bank">
            <img src="./images/idfc.jpeg" alt="idfc" class="lending-partner-img" loading="lazy"/>
        </a>
    </div> -->
    <div class="col-xl-2 col-lg-2 col-md-3 col-6">
        <a class="lending-partner" href="/lending-partner/prodigy-finance" title="prodigy finance">
            <img src="./images/prodigy.png" alt="Prodigy" class="lending-partner-img" loading="lazy"/>
        </a>
    </div>
    <!-- <div class="col-xl-2 col-lg-2 col-md-3 col-6">
        <div class="lending-partner">
            <img src="./images/kuhoo.png" alt="kuhoo" class="lending-partner-img" loading="lazy"/>
        </div>
    </div> -->
    <!-- <div class="col-xl-2 col-lg-2 col-md-3 col-6">
        <div class="lending-partner">
            <img src="./images/h_lorien.png" alt="lorien" class="lending-partner-img" loading="lazy"/>
        </div>
    </div> -->
    <div class="col-xl-2 col-lg-2 col-md-3 col-6">
        <div class="lending-partner">
            <img src="./images/h_union.png" alt="Union Bank" class="lending-partner-img" loading="lazy"/>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-6">
        <div class="lending-partner">
            <img src="./images/h_icici.png" alt="ICICI Bank" class="lending-partner-img" loading="lazy"/>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-6">
        <div class="lending-partner">
            <img src="./images/tata-capital.png" alt="Tata Capital" class="lending-partner-img" loading="lazy"/>
        </div>
    </div>
</div>