<div class="service-footer bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 service-footer-left">
                <h2 class="service-footer-title text-white">
                    Student Loans made Easy!
                </h2>
                <img src="/images/service-footer-mobile.png" class="w-100 service-footer-mobile" />
                <a class="btn btn-outline-light font-14 px-4 mt-4" href="/check-loan-eligibility">
                    Register Now
                </a>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 service-footer-right">
                <img src="/images/service-footer.png" class="w-100" />
            </div>
        </div>
    </div>
</div>